body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #467bdd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 6em;
  color: #333;
  margin-bottom: 30px;
}

.start-button {
  background-color: #0f1d5a;
  color: white;
  padding: 20px 45px;
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
}

.start-button:hover {
  background-color: #ee6a12;
}
