@font-face {
  font-family: 'KOMIGO';
  src: url('assets/fonts/Komigo/Komigo3D-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #467bdd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.background-questions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-mark {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  animation: fadeInOut 5s infinite;
  user-select: none;
  opacity: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.title {
  font-family: 'KOMIGO', sans-serif;
  font-size: 9em;
  color: #333;
  margin-bottom: 30px;
  margin-top: 200px;
}

.start-button {
  background-color: #0f1d5a;
  color: white;
  padding: 20px 45px;
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
}

.start-button:hover {
  background-color: #ee6a12;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: 150px;
  }

  .start-button {
    padding: 15px 30px;
    font-size: 1em;
    margin-top: 50px;
  }
}

.gameplay-title {
  font-family: 'KOMIGO', sans-serif;
  font-size: 3em;
  color: #333;
  margin-top: 0;
}

